.aboutblock{
    box-sizing: border-box;
    width: 100%;
    padding-top:8%;
    padding-bottom: 1%;
    display: flex;
    justify-content: center; 
    color:  var(--text);
    font-size: 160%;
    font-family: "Montserrat", sans-serif;
    background-color: var(--bg-main);

}

@media (max-width: 500px){
    .aboutblock{

        width: 100%;
        padding-top:25%;
        font-size: 160%;
    }
}