.background-blur {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 20; 
  pointer-events: none; 
}


.circle {
   
  position: absolute;
  border-radius: 50%;
  filter: blur(120px);
  opacity: 0.55;
  mix-blend-mode: hard-light;
}

.background-noise{
position: absolute;
  inset: 0;
  background: url("/src/styles/noise.png") repeat;
  background-size: 250px 250px;
  opacity: 0.2;
  mix-blend-mode: overlay;
  z-index: 10;
}

.circle-1 {
  width: 500px; height: 500px;
  top: 250px; left: -180px;
  background: radial-gradient(circle, var(--elipse1), var(--elipse1));
}

.circle-2 {
  width: 500px; height: 500px;
  bottom: -250px; right: -50px;
  background: radial-gradient(circle, var(--elipse23), var(--elipse23));

}

.circle-3 {
  width: 500px; height: 550px;
  top: 10%; left: 65%;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle, var(--elipse23), var(--elipse23));
 
}

@media (max-width: 500px){

  .circle-1{
    top: 530px; left: -150px;
    width: 100px; height: 200px;
  }

}


