.custom-edge {
  stroke: rgba(28, 54, 77, 0.5); 
  transition: stroke 0.2s ease;
  z-index: 22;
}

.custom-edge:hover {
  stroke: rgba(28, 54, 77, 1); 
  stroke-width: 3px;
}

.custom-edge-interaction {
  cursor: pointer;
}

@media (max-width: 500px){

  .custom-edge{
    display: none;
  }

}