.site-footer{
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: right;
    background-color: #D4D9D0;
    padding-bottom:5%;
    padding-right:1%;
    font-size: 140%;
    font-family: "Montserrat", sans-serif;
    text-decoration: underline;
    
}

a {
  color: black; 
  text-decoration: none; 
 
}

.footer-content{
  animation: fade 3s infinite;
}

@keyframes fade {
  0% {
    opacity: 0; 
  }
  50% {
    opacity: 1; 
  }
  100%{
    opacity: 0;
  }

}