.site-footer{
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: right;
    background-color: var(--bg-main);
    padding-bottom:5%;
    padding-right:1%;
    font-size: 140%;
    font-family: "Montserrat", sans-serif;
    text-decoration: underline;
    text-decoration-color: var(--linktg);
    
}

a {
  color: var(--linktg); 
  text-decoration: none; 
 
}

.footer-content{
  animation: fade 3s infinite;
}

@keyframes fade {
  0% {
    opacity: 0; 
  }
  50% {
    opacity: 1; 
  }
  100%{
    opacity: 0;
  }

}

@media (max-width: 500px){

  .site-footer{

    padding-top:8%;
    font-size: 120%;
    justify-content: center;
  }

}