* {
	padding: 0px;
	margin: 0px;
}


.header{
    position: fixed;
    padding: 1%;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-main);
}

.left_buttons{
    
    z-index: 25;
    box-sizing: border-box;
    width: 40%;
    display: flex;
    justify-content: space-between;
 
}

.button{
    color: #ffffff;
    font-size: 110%;
    font-family: "Montserrat", sans-serif;
    
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid var(--butt-active);
    border-radius: 15px;
    background: var(--butt-active);
}

.main-button:hover{
    transition: box-shadow 400ms ease-in-out, color 400ms ease-in-out;
    box-shadow: 0 0 50px 20px var(--butt-active) inset; 
    color: white;
}


.main-button{
    
    color:#ffffff;
    font-size: 110%;
    font-family: "Montserrat", sans-serif;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid var(--butt-active);
    border-radius: 15px;
    background: none;
   
}

.main-button:hover .but{
    transition: 500ms;
    color:#ffffff  
}

.button .but{
    
    color:#ffffff  
}

.but{
    
    font-weight: 350;
    font-size: 110%;
    font-family: "Montserrat", sans-serif;
    border:none;
    background: none;
    padding: none;
   
}


.right_buttons{
    box-sizing: border-box;
    display: flex;
    font-size: 110%;
    font-family: "Montserrat", sans-serif;
    padding-left: 13px;
    padding-top: 10px;
    padding-right: 13px;
    padding-bottom: 10px;
    /* border: 1px solid var(--butt-active); */
     border: none;
    border-radius: 15px;
    background: none;
    color: var(--butt-active);
    z-index: 120;
    /* transform: scale(1.5); */
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    /* &:hover { box-shadow: 0 0 70px 20px rgba(88,101,76, 0.3) inset;  } */
}

.HN{
    color: rgba((19, 71, 134, 0))
}

.HN:hover{
    color: black;
    
}

.night{

    transform: scale(1.5);
}
 
.right_buttons:hover{

   /* transform: scale(1.3); */
   /* transition: 500ms; */
    /* transition: transform 0.2s ease;  */
    border: none;
}

.right_buttons:hover .night path {
  transition: 500ms;
  /* stroke: #000000;   */
  color: black;
}


@media (max-width: 500px){
   
    .but{
        font-weight: 350;
        font-size: 90%;
        font-family: "Montserrat", sans-serif;
    }

    .button{
       padding-left: 15%;
        padding-right: 15%;
        padding-top: 5px;
        padding-bottom: 10px;
    }

    .main-button{
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 5px;
        padding-bottom: 10px;
    }

    .right_buttons{
        display: none;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .left_buttons{
        width: 100%;
        
    }

    .header{
        padding-top:4%;
        padding-left: 7%;
        padding-right: 7%;
        
    }
    
}