:root{

    /* фон */
    --bg-main: rgba(222, 218, 235, 1);

    --dot: rgba(22, 77, 126, 0.5);

    /* кнопка выбранная */
    --butt-active: rgba(131, 157, 215, 0.8);

    /* круги фон */
    --elipse1: rgba(115, 155, 255, 0.5);
    --elipse23: rgba(115, 176, 255, 0.7); 

    /* тг линк */
    --linktg: rgba(31, 37, 73, 1);

    --blog-zone: rgba(19, 71, 134, 0.1);
    --content-stroke: rgba(54, 101, 141, 0.7);
    --node-stroke: rgb(40, 75, 105);
    --node-full: rgba(19, 71, 134, 0.2);

    --text: rgba(12, 24, 37, 1);


}