.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  height: 90vh;
  width: 100%;
  scrollbar-width: none;
  padding-top: 5%;
  background-color: #D4D9D0;
  margin: 0;
  padding-bottom: 0;
  z-index: 19;
}


.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.panel {
  border: 1px solid rgba(0, 31, 7, 0.5);
  z-index: 25;
  flex: 0 0 94vw;
  height: 87vh;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 31, 15, 0.1);
  margin: 0 3vw;
  border-radius: 24px;
  padding: 40px 60px;
  position: relative;
  box-sizing: border-box;

}

.content-wrapper {
  
  padding: 50px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between; 
  width: 100%;
  height: 100%;
  gap: 230px; 
}

.text-content {
  padding-top: -(20px);
  color: rgba(0, 31, 7, 1);
  font-size: 140%;
  text-align: left; 
  line-height: 1,6;
  width: 100%; 
  margin: 0;
  
}

.image-container {
  
  
  width: 60%; 
  height: 97%;
  border-radius: 16px;
  overflow: hidden;
  background-color: rgba(0, 31, 7, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 31, 7, 0.3);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

/* .date {
  font-size: 90%;
  color: rgba(0, 31, 7, 0.7);
  font-weight: 300;
  margin-top: auto;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
} */


@media (max-width: 500px){
  .panel {

    padding-top: 1%;
    padding-left: 4%; 
    padding-right: 4%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    
  }

  .content-wrapper {
 
    padding-top: 3%;
    padding-bottom: 3%;
    flex-direction: column; 
    justify-content: space-between;
    gap: 20px;
    box-sizing: border-box;
    

  }

  .image-container {

    border-radius: 12px;
    width: 100%; 
    height: 400px; 
    order: 2; 

  }

  .image-container img {
    width: 100%;
    height: 100%;
    
}

  .horizontal-scroll {

    padding-top: 20%;
    height: 91vh;

  }

  .text-content {
   
    font-size: 110%;   
    overflow: auto;
    order: 1; 
  }


}